@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --color-text: #0b0e14;
  --color-bg: #ffffff;
  --color-secondary: #e2e6ee;
  --color-accent-blue-100: #0080c0;
  --color-accent-blue-80: #4eacdb;
  --color-accent-blue-60: #96bdd0;
  --color-accent-grey-80: #9baac0;
  --color-accent-grey-60: #d6dde6;
  --color-accent-red-80: #b6406f;
  --color-accent-red-60: #ad7b8f;
  --color-buttons-primary: #2c3c54;
  --color-buttons-secondary: #f2f4f8;
  font-family: "Barlow", sans-serif;
}

html,
body {
  min-width: 375px;
  height: 100%;
  margin: 0;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-inline: 2em;
  display: grid;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 300;
  color: var(--color-buttons-primary);
}

h2 {
  font-weight: 400;
}
h3 {
  margin: 2rem auto;
  font-weight: 400;
}

.thumbnail-component {
  display: flex;
  gap: 2em;
  justify-content: left;
  margin: 2em 0;
}

.addGap span + span {
  margin-left: 0.25em;
}

p {
  margin: 0;
  line-height: 1.5em;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: var(--color-accent-blue-80);
}

.video-section iframe {
  width: 100%;
}

.video-overview {
  margin-inline: 40px;
}

.video-list-element + .video-list-element {
  margin-top: 1rem;
}

/* Video Liste */

.video-list {
  display: grid;
}
.video-list-element {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
iframe {
  border-radius: 1.5em;
  width: 100%;
  height: auto;
  aspect-ratio: 1.77 / 1;
}
.subheader {
  display: flex;
  font-size: 0.75rem;
  gap: 2em;
  justify-content: center;
}

.video-list-element-media-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-list-element + .video-list-element {
  border-top: 2px solid var(--color-accent-grey-60);
  padding-top: 2rem;
}

/*media queries*/

@media (min-width: 800px) {
  .video-list-element {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .video-list-element-info-container {
    margin-block: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  iframe {
    border-radius: 1.5em;
    width: 400px;
    height: auto;
    aspect-ratio: 1.77 / 1;
  }
  .subheader {
    justify-content: start;
  }
  .video-list-element + .video-list-element {
    border-top: none;
    padding-top: none;
  }
}
