@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --color-text: #0b0e14;
  --color-bg: #ffffff;
  --color-secondary: #e2e6ee;
  --color-accent-blue-100: #0080c0;
  --color-accent-blue-80: #4eacdb;
  --color-accent-blue-60: #96bdd0;
  --color-accent-grey-80: #9baac0;
  --color-accent-grey-60: #d6dde6;
  --color-accent-red-80: #b6406f;
  --color-accent-red-60: #ad7b8f;
  --color-buttons-primary: #2c3c54;
  --color-buttons-secondary: #f2f4f8;
  font-family: "Barlow", sans-serif;
}

html,
body {
  min-width: 375px;
  height: 100%;
  margin: 0;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-inline: 2em;
  display: grid;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 300;
  color: var(--color-buttons-primary);
}

h2 {
  margin-bottom: 0.5em;
  font-weight: 400;
}
h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.thumbnail-component {
  display: flex;
  gap: 2em;
  justify-content: left;
  margin: 2em 0;
}

.addGap span + span {
  margin-left: 0.25em;
}

p {
  margin: 0;
  line-height: 1.5em;
}

iframe {
  border-radius: 2em;
  width: 40vmax;
  height: auto;
  aspect-ratio: 1.77 / 1;
}

.clickable {
  cursor: pointer;
}

.video-section iframe {
  width: 100%;
}
